.footer {
  background-color: #f8f9fa;
  padding: 3% 6% 0;
  text-align: center;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  flex-wrap: wrap;
}

.newsletterText {
  flex: 1;
  min-width: 250px;
  margin-right: 20px;
  text-align: left;
}

.newsletter h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.newsletter p {
  font-size: 16px;
  color: #666;
}

.newsletterForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

.newsletterForm input[type="email"] {
  padding: 10px;
  width: 250px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  flex-grow: 1;
  min-width: 200px;
}

.newsletterForm button {
  padding: 10px 20px;
  height: 40px;
  border: none;
  background-color: #333;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.newsletterForm button:hover {
  background-color: #555;
}

.footerLinks {
  margin-bottom: 30px;
}

.footerLinks ul {
  list-style: none;
  padding: 0;
}

.footerLinks li {
  display: inline;
  margin: 0 10px;
}

.footerLinks a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.footerLinks a:hover {
  color: #0066cc;
}

.socialMedia a {
  margin: 0 10px;
  color: #333;
  font-size: 20px;
}

.socialMedia a:hover {
  color: #0066cc;
}

.footerBottom {
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}


@media (max-width: 768px) {
  .newsletter {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .newsletterText {
    text-align: center;
    margin-right: 0;
  }

  .newsletterForm {
    flex-direction: column;
    align-items: center;
  }

  .footerLinks ul {
    padding: 0;
  }

  .footerLinks li {
    display: block;
    margin: 10px 0;
  }

  .footerLinks a {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .newsletterForm input[type="email"] {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
  }

  .newsletterForm button {
    width: 100%;
    border-radius: 5px;
  }
}
