.headerWrapper {
  width: 100%;
  position: relative;
  z-index: 1000;
}

.headerBlack {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
}

.headerBlack > p {
  color: white;
  font-size: 14px;
}

.dropdownLink {
  color: white;
}

.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 70px;
  padding: 2%;
  background-color: white;
  box-shadow: rgba(105, 126, 147, 0.2) 0px 8px 24px;
  position: fixed;
  top: 0; 
  z-index: 1000;
}

.navLinks {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menuLink {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.menuLink > li {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.menuLink > li > a {
  color: var(--text-color);
}

.navRight {
  display: flex;
  gap: 20px;
}

.icon {
  font-size: 20px;
  cursor: pointer;
}

.hamburgerButton {
  display: none;
}

.drawerMenu {
  list-style: none;
  padding: 0;
}

.drawerMenu > li {
  margin-bottom: 16px;
}

@media (max-width: 768px) {
  .navLinks {
    display: none;
  }

  .hamburgerButton {
    display: block;
  }
}

@media (max-width: 480px) {
  .headerBlack {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .headerBlack > p {
    margin-bottom: 10px;
  }

  .navbarWrapper {
    padding: 5px;
  }

  .icon {
    font-size: 18px;
  }
}
